/*! purgecss start ignore */
@import 'vanilla-cookieconsent/dist/cookieconsent.css';
@import '@event-calendar/core/index.css';
/*! purgecss end ignore */

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}
